<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap" rel="stylesheet">

  <section>
  <div class="titulo">
    <h1>FRAMED</h1>
    <h2>_ART</h2>
    <p>seleciona imagens e <br>FineArt com excelência.</p>

    <div class="botao">
      <button mat-button class="bt1">Contate-nos</button>
      <button mat-button class="bt2">Coleções</button>
    </div>
  </div>
  <div class="content-img">
    <div class="content-section"></div>
    <div class="content-section"></div>
    <div class="content-section"></div>
    <div class="content-section"></div>
  </div>
</section>
